<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Springbootdemo.dao.LogsMapper">
  <resultMap id="BaseResultMap" type="com.example.Springbootdemo.pojo.Logs">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deviceId" jdbcType="INTEGER" property="deviceid" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="sendTime" jdbcType="DATE" property="sendtime" />
    <result column="reciveTime" jdbcType="DATE" property="recivetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deviceId, `value`, userId, sendTime, reciveTime
  </sql>
  <select id="selectByExample" parameterType="com.example.Springbootdemo.pojo.LogsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.Springbootdemo.pojo.LogsExample">
    delete from logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.Springbootdemo.pojo.Logs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into logs (deviceId, `value`, userId, 
      sendTime, reciveTime)
    values (#{deviceid,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{sendtime,jdbcType=DATE}, #{recivetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.example.Springbootdemo.pojo.Logs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="sendtime != null">
        sendTime,
      </if>
      <if test="recivetime != null">
        reciveTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceid != null">
        #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=DATE},
      </if>
      <if test="recivetime != null">
        #{recivetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.Springbootdemo.pojo.LogsExample" resultType="java.lang.Long">
    select count(*) from logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update logs
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceid != null">
        deviceId = #{record.deviceid,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        `value` = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.sendtime != null">
        sendTime = #{record.sendtime,jdbcType=DATE},
      </if>
      <if test="record.recivetime != null">
        reciveTime = #{record.recivetime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update logs
    set id = #{record.id,jdbcType=INTEGER},
      deviceId = #{record.deviceid,jdbcType=INTEGER},
      `value` = #{record.value,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      sendTime = #{record.sendtime,jdbcType=DATE},
      reciveTime = #{record.recivetime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.Springbootdemo.pojo.Logs">
    update logs
    <set>
      <if test="deviceid != null">
        deviceId = #{deviceid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null">
        sendTime = #{sendtime,jdbcType=DATE},
      </if>
      <if test="recivetime != null">
        reciveTime = #{recivetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.Springbootdemo.pojo.Logs">
    update logs
    set deviceId = #{deviceid,jdbcType=INTEGER},
      `value` = #{value,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      sendTime = #{sendtime,jdbcType=DATE},
      reciveTime = #{recivetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>